{% assign color_options = color_options %}
{% assign active_color = active_color | default: color_options.values.first %}

{% if color_options.values.size > 1 %}
  <script src='{{ 'color-swatches.js' | asset_url }}' type='module' defer='defer'></script>
{% endif %}

<color-swatches-component>
  <div class='tw-flex tw-flex-wrap tw-gap-6' role='radiogroup'>
    {% for color in color_options.values %}
      <label class='color-swatch tw-cursor-pointer'>
        <input
          type='radio'
          name='color-choice'
          value='{{ color }}'
          class='tw-sr-only'
          {% if color == active_color %}
            checked
          {% endif %}
        >
        <span
          style='background-color: {{ color }}; border-radius: {% if color != active_color %}50px;{% endif %}'
          class='color-swatch-border tw-block tw-border-[0.5px] tw-h-8 tw-w-8 tw-border-solid tw-border-black'
          aria-hidden='true'
        >
        </span>
      </label>
    {% endfor %}
  </div>
</color-swatches-component>
