{% assign carousel_images = images %}

<item-slider data-show-buttons data-image-count='{{ carousel_images.size }}' class='tw-h-full tw-w-full'>
  <div class='card embla tw-relative tw-border tw-border-black tw-h-full' style='opacity: 0;'>
    <div class='embla__container tw-h-full'>
      {% for image in carousel_images %}
        <div class='embla__slide tw-flex tw-justify-center tw-items-center tw-flex-[0_0_100%] tw-h-full'>
          <img
            src='{{ image | img_url: "master" }}'
            alt='{{ image.alt }}'
            class='tw-w-full tw-h-full tw-object-cover tw-object-center'
            width='100%'
            height='100%'
            loading='lazy'
          >
        </div>
      {% endfor %}
    </div>
    
    {% if carousel_images.size > 1 %}
      <div class='embla__button embla__button--prev tw-absolute tw-top-1/2 tw-left-xs tw-mix-blend-difference tw-invert'>
        {% render 'left-arrow', size: 32, style: 'tw-fill-black' %}
      </div>
      <div class='embla__button embla__button--next tw-absolute tw-top-1/2 tw-right-xs tw-mix-blend-difference tw-invert'>
        {% render 'right-arrow', size: 32, style: 'tw-fill-black' %}
      </div>
    {% endif %}
  </div>
</item-slider>
