{% assign done_loading = done_loading %}

<loading-component data-done-loading='{{ done_loading }}' data-images-loaded='false'>
  <div
    id='loading-container'
    class='tw-w-full tw-text-center tw-h-dvh tw-flex tw-flex-col tw-justify-center tw-items-center'
  >
    <span id='loading-text' class='tw-text-[200px] tw-opacity-0 tw-text-black'>Loading...</span>
  </div>
</loading-component>
