{% assign product_details_video = product_details_video %}
{% assign tv_frame = 'tv-frame.png' | asset_url %}

<div class='tw-w-full tw-relative tw-h-full'>
  <div
    class='tw-absolute tw-top-16 tw-left-24 tw-w-[65%] tw-transform tw-rotate-[-1deg]'
    style='aspect-ratio: 5/4;'
  >
    <video
      src='{{ product_details_video | file_url }}'
      autoplay
      muted
      playsinline
      loop
      class='tw-object-center tw-object-cover tw-w-full tw-h-full'
    ></video>
  </div>
  <img
    src='{{ tv_frame }}'
    alt='TV Frame'
    class='tw-w-full tw-h-auto tw-absolute tw-top-0 tw-left-0'
    height='{{ tv_frame.height }}'
    width='{{ tv_frame.width }}'
  >
</div>
