<script src='{{'opacity-reveal.js' | asset_url }}' type='module' defer='defer'></script>

{% assign page_styling = '' %}
{% if section.settings.subheader_enabled %}
  {% assign page_styling = 'tw-pt-[100px]md:tw-pb-lg md:tw-pt-[120px]' %}
{% else %}
  {% assign page_styling = 'tw-pt-[60px] md:tw-pb-lg md:tw-pt-[80px]' %}
{% endif %}

<opacity-reveal>
  {%- paginate blog.articles by 6 -%}
    <div class='tw-container tw-min-h-dvh {{ page_styling }}'>
      <div class='tw-grid tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-1 md:tw-gap-6 tw-pb-lg tw-pt-md'>
        {%- for article in blog.articles -%}
          <div class='card' style='opacity: 0;'>
            {%- render 'article-card', article: article -%}
          </div>
        {%- endfor -%}
      </div>

      {%- if paginate.pages > 1 -%}
        {%- render 'pagination', paginate: paginate -%}
      {%- endif -%}
    </div>
  {%- endpaginate -%}
</opacity-reveal>

{% schema %}
{
  "name": "Main Blog",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "subheader_enabled",
      "label": "Enable Subheader",
      "default": false,
      "info": "If enabled,the blog page will have a adjusted padding top to account for the subheader."
    }
  ]
}
{% endschema %}
