<div class='tw-py-md tw-border-t tw-border-black tw-flex tw-flex-col'>
  {% if section.settings.heading != blank %}
    <h2 class='tw-text-center tw-mb-md tw-font-snell tw-text-[32px] md:tw-text-[48px] tw-text-black'>
      {{ section.settings.heading }}
    </h2>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div
      class='tw-flex tw-overflow-x-auto tw-gap-x-md tw-px-md tw-w-full'
      style='scrollbar-width: none; -ms-overflow-style: none;'
    >
      {% for video in section.blocks %}
        <div
          class=' tw-h-full tw-min-w-[215px] tw-max-w-[375px] tw-flex-[0_0_215px] lg:tw-flex-[0_0_375px]'
        >
          <div class='tw-h-full tw-w-auto tw-block'>
            {% if video.settings.video_url != blank %}
              {% if video.settings.video_url.type == 'youtube' %}
                <iframe
                  src='https://www.youtube.com/embed/{{ video.settings.video_url.id }}?rel=0'
                  class='tw-w-full tw-aspect-video'
                  frameborder='0'
                  allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                  allowfullscreen
                  loading='lazy'
                  title='YouTube video player'
                ></iframe>
              {% elsif video.settings.video_url.type == 'vimeo' %}
                <iframe
                  src='https://player.vimeo.com/video/{{ video.settings.video_url.id }}'
                  class='tw-w-full tw-aspect-video'
                  frameborder='0'
                  allow='autoplay; fullscreen; picture-in-picture'
                  allowfullscreen
                  loading='lazy'
                ></iframe>
              {% else %}
                <div class='tw-w-full tw-aspect-video tw-bg-gray-100 tw-flex tw-items-center tw-justify-center'>
                  <p>Invalid video URL format</p>
                </div>
              {% endif %}
            {% else %}
              <div class='tw-w-full tw-aspect-video tw-bg-gray-100 tw-flex tw-items-center tw-justify-center'>
                <p>Please add a video URL</p>
              </div>
            {% endif %}

            <div class='tw-flex tw-flex-col tw-text-center tw-items-center tw-justify-center tw-pt-sm'>
              <p
                class='tw-uppercase p2 tw-text-black'
              >
                {{- video.settings.title -}}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if section.settings.page_link != blank and section.settings.page_link_cta != blank %}
    <div class='tw-w-full tw-py-md tw-relative'>
      <div class='tw-absolute tw-left-1/2 tw--translate-x-1/2'>
        {% render 'link-hover',
          link: section.settings.page_link,
          link_cta: section.settings.page_link_cta,
          text_style: 'tw-uppercase caption tw-text-black tw-underline tw-underline-offset-4',
          arrow_style: 'tw-fill-black',
          arrow_size: 20
        %}
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Cafe Video Slider",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "url",
      "id": "page_link",
      "label": "Page Link"
    },
    {
      "type": "text",
      "id": "page_link_cta",
      "label": "Page Link CTA"
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Video URL",
          "accept": ["youtube", "vimeo"]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Video Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cafe Video Slider"
    }
  ]
}
{% endschema %}
