<div class='tw-min-h-dvh tw-pt-[80px] md:tw-pt-[100px] tw-bg-black tw-text-white'></div>

{% schema %}
{
  "name": "Main Cafe",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
