<div class='tw-container tw-pt-[60px] md:tw-pt-[80px] '>
  <h2 class='tw-text-center heading tw-my-md md:tw-my-lg'>
    {{ page.title | escape }}
  </h2>
  <div class='tw-pb-md md:tw-pb-lg'>
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section"
}
{% endschema %}
