<div class='tw-container tw-pt-[80px] tw-min-h-svh'>
  <div class='tw-flex tw-flex-col tw-gap-md tw-py-md tw-items-center'>
    <h2 class='tw-uppercase h2'>Search</h2>
    {% render 'search-bar' %}
  </div>
</div>

{% schema %}
{
  "name": "Main Search",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
