<div class='tw-container tw-pt-[60px] md:tw-pt-[80px] tw-pb-md md:tw-pb-lg tw-min-h-screen'>
  <p class='tw-text-center tw-text-lg md:tw-text-2xl tw-mb-md md:tw-mb-lg'>
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class='title tw-text-center tw-text-2xl md:tw-text-4xl tw-mb-md md:tw-mb-lg'>
    {{ 'templates.404.title' | t }}
  </h1>
  <a href='{{ routes.all_products_collection_url }}' class='button tw-mx-auto'>
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
