{%- paginate blog.articles by 6 -%}
  <div class='tw-container tw-pt-[80px]'>
    <div class='tw-grid tw-grid-cols-1 tw-gap-x-sm md:tw-grid-cols-2 lg:tw-grid-cols-3 tw-pb-lg'>
      {%- for article in blog.articles -%}
        <div class=''>
          {%- render 'article-card',
            article: article,
            media_height: section.settings.image_height,
            media_aspect_ratio: article.image.aspect_ratio,
            show_image: section.settings.show_image,
            show_date: section.settings.show_date,
            show_author: section.settings.show_author,
            show_excerpt: true
          -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
