<div class='tw-container tw-pt-[60px] md:tw-pt-[80px] tw-min-h-svh tw-flex tw-flex-col tw-items-center tw-justify-center tw-gap-y-md'>
  <h2 class='tw-text-center heading'>Page not found.</h2>
  {% render 'link-hover',
    link: routes.all_products_collection_url,
    text_style: 'caption tw-text-black tw-underline tw-underline-offset-4',
    arrow_style: 'tw-fill-black',
    link_cta: 'Continue Shopping',
    is_url: true
  %}
</div>
