*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.16 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.tw-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.tw-fixed {
  position: fixed;
}

.tw-absolute {
  position: absolute;
}

.tw-relative {
  position: relative;
}

.tw-inset-0 {
  inset: 0px;
}

.tw-bottom-0 {
  bottom: 0px;
}

.tw-left-0 {
  left: 0px;
}

.tw-left-1\/2 {
  left: 50%;
}

.tw-left-24 {
  left: 6rem;
}

.tw-left-lg {
  left: 32px;
}

.tw-top-0 {
  top: 0px;
}

.tw-top-1\/2 {
  top: 50%;
}

.tw-top-16 {
  top: 4rem;
}

.tw-top-\[100px\] {
  top: 100px;
}

.tw-top-\[7px\] {
  top: 7px;
}

.tw-top-\[\] {
  top: ;
}

.tw-top-\[8\] {
  top: 8;
}

.tw-top-\[80\] {
  top: 80;
}

.tw-top-\[80px\] {
  top: 80px;
}

.tw-top-\[60px\] {
  top: 60px;
}

.tw-left-2 {
  left: 0.5rem;
}

.tw-left-8 {
  left: 2rem;
}

.tw-z-\[100\] {
  z-index: 100;
}

.tw-z-\[101\] {
  z-index: 101;
}

.tw-z-\[200\] {
  z-index: 200;
}

.tw-z-\[99\] {
  z-index: 99;
}

.tw-z-10 {
  z-index: 10;
}

.tw-z-\[9999\] {
  z-index: 9999;
}

.tw-z-\[\] {
  z-index: ;
}

.tw-z-\[1\] {
  z-index: 1;
}

.tw-z-\[9\] {
  z-index: 9;
}

.tw-z-\[10\] {
  z-index: 10;
}

.tw-z-\[8\] {
  z-index: 8;
}

.tw-z-\[85\] {
  z-index: 85;
}

.tw-z-\[75\] {
  z-index: 75;
}

.tw-m-0 {
  margin: 0px;
}

.tw-m-auto {
  margin: auto;
}

.tw-m-lg {
  margin: 32px;
}

.tw-m-sm {
  margin: 16px;
}

.tw-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.tw-my-lg {
  margin-top: 32px;
  margin-bottom: 32px;
}

.tw-mx-xs {
  margin-left: 8px;
  margin-right: 8px;
}

.tw-mb-4 {
  margin-bottom: 1rem;
}

.tw-mb-lg {
  margin-bottom: 32px;
}

.tw-mt-md {
  margin-top: 24px;
}

.tw-mr-md {
  margin-right: 24px;
}

.tw-mr-lg {
  margin-right: 32px;
}

.tw-mb-sm {
  margin-bottom: 16px;
}

.tw-mt-lg {
  margin-top: 32px;
}

.tw-mt-sm {
  margin-top: 16px;
}

.tw-mt-xl {
  margin-top: 48px;
}

.tw-mt-xxs {
  margin-top: 4px;
}

.tw-mr-xs {
  margin-right: 8px;
}

.tw-ml-xs {
  margin-left: 8px;
}

.tw-mr-sm {
  margin-right: 16px;
}

.tw-ml-sm {
  margin-left: 16px;
}

.tw-mb-xl {
  margin-bottom: 48px;
}

.tw-mt-\[80px\] {
  margin-top: 80px;
}

.tw-mr-8 {
  margin-right: 2rem;
}

.tw-block {
  display: block;
}

.tw-inline-block {
  display: inline-block;
}

.tw-flex {
  display: flex;
}

.tw-inline-flex {
  display: inline-flex;
}

.tw-grid {
  display: grid;
}

.tw-hidden {
  display: none;
}

.tw-aspect-square {
  aspect-ratio: 1 / 1;
}

.tw-h-16 {
  height: 4rem;
}

.tw-h-\[15px\] {
  height: 15px;
}

.tw-h-\[16px\] {
  height: 16px;
}

.tw-h-\[1px\] {
  height: 1px;
}

.tw-h-\[80px\] {
  height: 80px;
}

.tw-h-auto {
  height: auto;
}

.tw-h-dvh {
  height: 100dvh;
}

.tw-h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.tw-h-full {
  height: 100%;
}

.tw-h-1 {
  height: 0.25rem;
}

.tw-h-24 {
  height: 6rem;
}

.tw-h-2 {
  height: 0.5rem;
}

.tw-h-12 {
  height: 3rem;
}

.tw-h-14 {
  height: 3.5rem;
}

.tw-h-10 {
  height: 2.5rem;
}

.tw-h-0 {
  height: 0px;
}

.tw-h-8 {
  height: 2rem;
}

.tw-h-\[\] {
  height: ;
}

.tw-h-\[c\] {
  height: c;
}

.tw-h-\[calc\(100vh-80px\)\] {
  height: calc(100vh - 80px);
}

.tw-h-\[220px\] {
  height: 220px;
}

.tw-h-\[32px\] {
  height: 32px;
}

.tw-h-3 {
  height: 0.75rem;
}

.tw-h-32 {
  height: 8rem;
}

.tw-h-\[32\] {
  height: 32;
}

.tw-h-\[32p\] {
  height: 32p;
}

.tw-h-\[20px\] {
  height: 20px;
}

.tw-h-\[0px\] {
  height: 0px;
}

.tw-h-\[40px\] {
  height: 40px;
}

.tw-h-\[px\] {
  height: px;
}

.tw-h-\[6px\] {
  height: 6px;
}

.tw-h-\[60px\] {
  height: 60px;
}

.tw-h-\[45px\] {
  height: 45px;
}

.tw-h-\[4px\] {
  height: 4px;
}

.tw-h-\[3px\] {
  height: 3px;
}

.tw-h-\[30px\] {
  height: 30px;
}

.tw-h-\[2px\] {
  height: 2px;
}

.tw-h-\[30\] {
  height: 30;
}

.tw-max-h-0 {
  max-height: 0px;
}

.tw-max-h-\[500px\] {
  max-height: 500px;
}

.tw-max-h-fit {
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.tw-max-h-\[565px\] {
  max-height: 565px;
}

.tw-max-h-\[\] {
  max-height: ;
}

.tw-max-h-\[d\] {
  max-height: d;
}

.tw-max-h-\[dv\] {
  max-height: dv;
}

.tw-max-h-\[c\] {
  max-height: c;
}

.tw-max-h-\[calc\(100vh-120px\)\] {
  max-height: calc(100vh - 120px);
}

.tw-max-h-\[calc\(100dvh-120px\)\] {
  max-height: calc(100dvh - 120px);
}

.tw-max-h-\[calc\(100dvh-120px-64px\)\] {
  max-height: calc(100dvh - 120px - 64px);
}

.tw-max-h-\[calc\(100dvh-120px64px\)\] {
  max-height: calc(100dvh - 120px64px);
}

.tw-max-h-\[calc\(100dvh-120p64px\)\] {
  max-height: calc(100dvh - 120p64px);
}

.tw-max-h-\[calc\(100dvh-12064px\)\] {
  max-height: calc(100dvh - 12064px);
}

.tw-max-h-\[calc\(100dvh-1264px\)\] {
  max-height: calc(100dvh - 1264px);
}

.tw-max-h-\[calc\(100dvh-164px\)\] {
  max-height: calc(100dvh - 164px);
}

.tw-max-h-\[calc\(100dvh-14px\)\] {
  max-height: calc(100dvh - 14px);
}

.tw-max-h-\[calc\(100dvh-184px\)\] {
  max-height: calc(100dvh - 184px);
}

.tw-max-h-\[calc\(100dvh-120px-\)\] {
  max-height: calc(100dvh - 120px - );
}

.tw-max-h-\[calc\(100dvh-120px-64\)\] {
  max-height: calc(100dvh - 120px - 64);
}

.tw-max-h-\[calc\(100dvh-120px-64p\)\] {
  max-height: calc(100dvh - 120px - 64p);
}

.tw-min-h-12 {
  min-height: 3rem;
}

.tw-min-h-1 {
  min-height: 0.25rem;
}

.tw-min-h-14 {
  min-height: 3.5rem;
}

.tw-min-h-\[calc\(100vh-80px\)\] {
  min-height: calc(100vh - 80px);
}

.tw-min-h-\[530px\] {
  min-height: 530px;
}

.tw-min-h-\[375px\] {
  min-height: 375px;
}

.tw-min-h-dvh {
  min-height: 100dvh;
}

.tw-min-h-\[\] {
  min-height: ;
}

.tw-min-h-\[calc\(100vh-140px\)\] {
  min-height: calc(100vh - 140px);
}

.tw-min-h-\[calc\(100vh-120px\)\] {
  min-height: calc(100vh - 120px);
}

.tw-min-h-\[calc\(100vh-12px\)\] {
  min-height: calc(100vh - 12px);
}

.tw-min-h-\[calc\(100vh-1px\)\] {
  min-height: calc(100vh - 1px);
}

.tw-min-h-\[calc\(100vh-1-px\)\] {
  min-height: calc(100vh - 1 - px);
}

.tw-min-h-\[calc\(100vh-10px\)\] {
  min-height: calc(100vh - 10px);
}

.tw-min-h-\[calc\(100vh-100px\)\] {
  min-height: calc(100vh - 100px);
}

.tw-w-16 {
  width: 4rem;
}

.tw-w-\[125px\] {
  width: 125px;
}

.tw-w-\[24px\] {
  width: 24px;
}

.tw-w-\[65\%\] {
  width: 65%;
}

.tw-w-full {
  width: 100%;
}

.tw-w-screen {
  width: 100vw;
}

.tw-w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.tw-w-1 {
  width: 0.25rem;
}

.tw-w-1\/2 {
  width: 50%;
}

.tw-w-12 {
  width: 3rem;
}

.tw-w-14 {
  width: 3.5rem;
}

.tw-w-10 {
  width: 2.5rem;
}

.tw-w-8 {
  width: 2rem;
}

.tw-w-\[50\%\] {
  width: 50%;
}

.tw-w-\[32px\] {
  width: 32px;
}

.tw-w-32 {
  width: 8rem;
}

.tw-w-\[\] {
  width: ;
}

.tw-w-\[32\] {
  width: 32;
}

.tw-w-auto {
  width: auto;
}

.tw-w-\[85\] {
  width: 85;
}

.tw-w-\[85\%\] {
  width: 85%;
}

.tw-w-\[8\%\] {
  width: 8%;
}

.tw-w-\[80\%\] {
  width: 80%;
}

.tw-min-w-12 {
  min-width: 3rem;
}

.tw-min-w-14 {
  min-width: 3.5rem;
}

.tw-min-w-\[156px\] {
  min-width: 156px;
}

.tw-min-w-\[215px\] {
  min-width: 215px;
}

.tw-min-w-\[21px\] {
  min-width: 21px;
}

.tw-min-w-\[2px\] {
  min-width: 2px;
}

.tw-min-w-\[20px\] {
  min-width: 20px;
}

.tw-min-w-\[200px\] {
  min-width: 200px;
}

.tw-min-w-\[px\] {
  min-width: px;
}

.tw-min-w-\[3px\] {
  min-width: 3px;
}

.tw-min-w-\[350px\] {
  min-width: 350px;
}

.tw-max-w-none {
  max-width: none;
}

.tw-max-w-\[430px\] {
  max-width: 430px;
}

.tw-max-w-\[315px\] {
  max-width: 315px;
}

.tw-max-w-\[px\] {
  max-width: px;
}

.tw-max-w-\[2px\] {
  max-width: 2px;
}

.tw-max-w-\[25px\] {
  max-width: 25px;
}

.tw-max-w-\[250px\] {
  max-width: 250px;
}

.tw-max-w-px {
  max-width: 1px;
}

.tw-max-w-\[5px\] {
  max-width: 5px;
}

.tw-max-w-\[50px\] {
  max-width: 50px;
}

.tw-max-w-\[500px\] {
  max-width: 500px;
}

.tw-flex-1 {
  flex: 1 1 0%;
}

.tw-flex-\[0_0_100\%\] {
  flex: 0 0 100%;
}

.tw-flex-\[auto\] {
  flex: auto;
}

.\!tw-flex-\[0_0_215px\] {
  flex: 0 0 215px !important;
}

.\!tw-flex-\[0_0_21px\] {
  flex: 0 0 21px !important;
}

.\!tw-flex-\[0_0_2px\] {
  flex: 0 0 2px !important;
}

.\!tw-flex-\[0_0_20px\] {
  flex: 0 0 20px !important;
}

.\!tw-flex-\[0_0_200px\] {
  flex: 0 0 200px !important;
}

.\!tw-flex-\[0_0_px\] {
  flex: 0 0 px !important;
}

.\!tw-flex-\[0_0_3px\] {
  flex: 0 0 3px !important;
}

.\!tw-flex-\[0_0_35px\] {
  flex: 0 0 35px !important;
}

.\!tw-flex-\[0_0_350px\] {
  flex: 0 0 350px !important;
}

.tw-shrink-0 {
  flex-shrink: 0;
}

.-tw-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-tw-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.tw-translate-x-\[20px\] {
  --tw-translate-x: 20px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.tw-rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.tw-rotate-\[-1deg\] {
  --tw-rotate: -1deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.tw-rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.tw-transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.tw-cursor-pointer {
  cursor: pointer;
}

.tw-auto-cols-max {
  grid-auto-columns: max-content;
}

.tw-auto-cols-auto {
  grid-auto-columns: auto;
}

.tw-auto-cols-fr {
  grid-auto-columns: minmax(0, 1fr);
}

.tw-grid-flow-row {
  grid-auto-flow: row;
}

.tw-grid-flow-dense {
  grid-auto-flow: dense;
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.tw-grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.tw-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.tw-grid-rows-subgrid {
  grid-template-rows: subgrid;
}

.tw-grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.tw-flex-row {
  flex-direction: row;
}

.tw-flex-col {
  flex-direction: column;
}

.tw-flex-wrap {
  flex-wrap: wrap;
}

.tw-items-end {
  align-items: flex-end;
}

.tw-items-center {
  align-items: center;
}

.tw-justify-start {
  justify-content: flex-start;
}

.tw-justify-end {
  justify-content: flex-end;
}

.tw-justify-center {
  justify-content: center;
}

.tw-justify-between {
  justify-content: space-between;
}

.tw-gap-1 {
  gap: 0.25rem;
}

.tw-gap-2 {
  gap: 0.5rem;
}

.tw-gap-6 {
  gap: 1.5rem;
}

.tw-gap-3 {
  gap: 0.75rem;
}

.tw-gap-md {
  gap: 24px;
}

.tw-gap-sm {
  gap: 16px;
}

.tw-gap-4 {
  gap: 1rem;
}

.tw-gap-12 {
  gap: 3rem;
}

.tw-gap-xs {
  gap: 8px;
}

.tw-gap-x-1 {
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}

.tw-gap-x-6 {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.tw-gap-y-0 {
  row-gap: 0px;
}

.tw-gap-y-6 {
  row-gap: 1.5rem;
}

.tw-gap-x-sm {
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.tw-gap-x-lg {
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.tw-gap-y-lg {
  row-gap: 32px;
}

.tw-gap-x-8 {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.tw-overflow-hidden {
  overflow: hidden;
}

.\!tw-overflow-visible {
  overflow: visible !important;
}

.tw-overflow-x-auto {
  overflow-x: auto;
}

.tw-overflow-y-auto {
  overflow-y: auto;
}

.tw-overflow-y-scroll {
  overflow-y: scroll;
}

.tw-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tw-text-clip {
  text-overflow: clip;
}

.tw-whitespace-nowrap {
  white-space: nowrap;
}

.tw-text-nowrap {
  text-wrap: nowrap;
}

.tw-text-balance {
  text-wrap: balance;
}

.tw-rounded-\[2px\] {
  border-radius: 2px;
}

.tw-rounded-full {
  border-radius: 9999px;
}

.tw-rounded-\[8px\] {
  border-radius: 8px;
}

.tw-rounded-\[6px\] {
  border-radius: 6px;
}

.tw-rounded-lg {
  border-radius: 0.5rem;
}

.tw-rounded {
  border-radius: 0.25rem;
}

.tw-rounded-3xl {
  border-radius: 1.5rem;
}

.tw-rounded-\[\] {
  border-radius: ;
}

.tw-rounded-\[30\] {
  border-radius: 30;
}

.tw-rounded-\[30p\] {
  border-radius: 30p;
}

.tw-rounded-\[30px\] {
  border-radius: 30px;
}

.tw-rounded-\[3\] {
  border-radius: 3;
}

.tw-rounded-\[30\%\] {
  border-radius: 30%;
}

.tw-rounded-\[3\%\] {
  border-radius: 3%;
}

.tw-rounded-\[\%\] {
  border-radius: %;
}

.tw-rounded-\[1\%\] {
  border-radius: 1%;
}

.tw-rounded-\[15\%\] {
  border-radius: 15%;
}

.tw-rounded-\[8\%\] {
  border-radius: 8%;
}

.tw-rounded-\[5\%\] {
  border-radius: 5%;
}

.tw-rounded-l {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.tw-border {
  border-width: 1px;
}

.tw-border-\[0\] {
  border-width: 0;
}

.tw-border-\[0\.5px\] {
  border-width: 0.5px;
}

.tw-border-2 {
  border-width: 2px;
}

.tw-border-4 {
  border-width: 4px;
}

.tw-border-8 {
  border-width: 8px;
}

.tw-border-\[10px\] {
  border-width: 10px;
}

.tw-border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.tw-border-x-\[10px\] {
  border-left-width: 10px;
  border-right-width: 10px;
}

.tw-border-b {
  border-bottom-width: 1px;
}

.tw-border-t {
  border-top-width: 1px;
}

.tw-border-b-\[10px\] {
  border-bottom-width: 10px;
}

.tw-border-solid {
  border-style: solid;
}

.tw-border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}

.tw-border-transparent {
  border-color: transparent;
}

.tw-border-\[\] {
  border-color: ;
}

.tw-border-\[0\.\] {
  border-color: 0.;
}

.tw-border-\[0\.5\] {
  border-color: 0.5;
}

.tw-border-\[0\.5p\] {
  border-color: 0.5p;
}

.tw-border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.tw-border-\[1\] {
  border-color: 1;
}

.tw-bg-\[\#5ffcf9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(95 252 249 / var(--tw-bg-opacity, 1));
}

.tw-bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.tw-bg-red-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(127 29 29 / var(--tw-bg-opacity, 1));
}

.tw-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.tw-bg-red-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 165 165 / var(--tw-bg-opacity, 1));
}

.tw-bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1));
}

.tw-bg-transparent {
  background-color: transparent;
}

.tw-bg-slate-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity, 1));
}

.tw-bg-opacity-15 {
  --tw-bg-opacity: 0.15;
}

.tw-bg-opacity-\[\] {
  --tw-bg-opacity: ;
}

.tw-bg-opacity-5 {
  --tw-bg-opacity: 0.05;
}

.tw-bg-opacity-95 {
  --tw-bg-opacity: 0.95;
}

.tw-bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}

.tw-bg-opacity-80 {
  --tw-bg-opacity: 0.8;
}

.tw-fill-black {
  fill: #000;
}

.tw-fill-white {
  fill: #fff;
}

.tw-stroke-black {
  stroke: #000;
}

.tw-object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.tw-object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.tw-object-center {
  -o-object-position: center;
     object-position: center;
}

.tw-p-lg {
  padding: 32px;
}

.tw-p-\[10px\] {
  padding: 10px;
}

.tw-p-xs {
  padding: 8px;
}

.tw-p-0 {
  padding: 0px;
}

.tw-p-8 {
  padding: 2rem;
}

.tw-p-sm {
  padding: 16px;
}

.tw-px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.tw-px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.tw-px-lg {
  padding-left: 32px;
  padding-right: 32px;
}

.tw-py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tw-py-lg {
  padding-top: 32px;
  padding-bottom: 32px;
}

.tw-py-\[100px\] {
  padding-top: 100px;
  padding-bottom: 100px;
}

.tw-px-\[40px\] {
  padding-left: 40px;
  padding-right: 40px;
}

.tw-py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tw-px-md {
  padding-left: 24px;
  padding-right: 24px;
}

.tw-px-xs {
  padding-left: 8px;
  padding-right: 8px;
}

.tw-py-md {
  padding-top: 24px;
  padding-bottom: 24px;
}

.tw-py-sm {
  padding-top: 16px;
  padding-bottom: 16px;
}

.tw-py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.tw-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.tw-px-sm {
  padding-left: 16px;
  padding-right: 16px;
}

.tw-py-xs {
  padding-top: 8px;
  padding-bottom: 8px;
}

.tw-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.tw-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tw-px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.tw-pb-sm {
  padding-bottom: 16px;
}

.tw-pr-sm {
  padding-right: 16px;
}

.tw-pt-\[80px\] {
  padding-top: 80px;
}

.tw-pt-lg {
  padding-top: 32px;
}

.tw-pr-md {
  padding-right: 24px;
}

.tw-pt-3 {
  padding-top: 0.75rem;
}

.tw-pt-sm {
  padding-top: 16px;
}

.tw-pb-lg {
  padding-bottom: 32px;
}

.tw-pt-\[\] {
  padding-top: ;
}

.tw-pt-\[8\] {
  padding-top: 8;
}

.tw-pt-\[80\] {
  padding-top: 80;
}

.tw-pt-\[80p\] {
  padding-top: 80p;
}

.tw-pt-\[8px\] {
  padding-top: 8px;
}

.tw-pt-\[px\] {
  padding-top: px;
}

.tw-pt-px {
  padding-top: 1px;
}

.tw-pt-\[100px\] {
  padding-top: 100px;
}

.tw-pt-\[10px\] {
  padding-top: 10px;
}

.tw-pt-\[1px\] {
  padding-top: 1px;
}

.tw-pt-\[14px\] {
  padding-top: 14px;
}

.tw-pt-\[140px\] {
  padding-top: 140px;
}

.tw-pt-\[12px\] {
  padding-top: 12px;
}

.tw-pt-\[120px\] {
  padding-top: 120px;
}

.tw-pl-8 {
  padding-left: 2rem;
}

.tw-pr-8 {
  padding-right: 2rem;
}

.tw-pr-3 {
  padding-right: 0.75rem;
}

.tw-pt-md {
  padding-top: 24px;
}

.tw-pr-lg {
  padding-right: 32px;
}

.tw-pl-xxl {
  padding-left: 64px;
}

.tw-pt-8 {
  padding-top: 2rem;
}

.tw-pb-md {
  padding-bottom: 24px;
}

.tw-text-left {
  text-align: left;
}

.tw-text-center {
  text-align: center;
}

.tw-text-right {
  text-align: right;
}

.tw-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.tw-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.tw-text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.tw-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.tw-font-bold {
  font-weight: 700;
}

.tw-uppercase {
  text-transform: uppercase;
}

.tw-capitalize {
  text-transform: capitalize;
}

.tw-leading-\[0\.5\] {
  line-height: 0.5;
}

.tw-leading-none {
  line-height: 1;
}

.tw-leading-\[\] {
  line-height: ;
}

.tw-leading-\[0\.75\] {
  line-height: 0.75;
}

.tw-leading-\[0\] {
  line-height: 0;
}

.tw-leading-\[0\.\] {
  line-height: 0.;
}

.tw-leading-\[0\.85\] {
  line-height: 0.85;
}

.tw-leading-\[0\.15\] {
  line-height: 0.15;
}

.tw-text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.tw-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.tw-text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.tw-text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.tw-underline {
  text-decoration-line: underline;
}

.tw-opacity-0 {
  opacity: 0;
}

.tw-opacity-50 {
  opacity: 0.5;
}

.tw-mix-blend-difference {
  mix-blend-mode: difference;
}

.tw-invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.tw-backdrop-blur-sm {
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.tw-backdrop-blur-md {
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.tw-transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tw-duration-300 {
  transition-duration: 300ms;
}

.hover\:tw-bg-black:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.tw-group:hover .group-hover\:tw-stroke-white {
  stroke: #fff;
}

@media (min-width: 767px) {
  .md\:tw-top-\[80px\] {
    top: 80px;
  }

  .md\:tw-mt-lg {
    margin-top: 32px;
  }

  .md\:tw-mt-md {
    margin-top: 24px;
  }

  .md\:tw-mt-xxl {
    margin-top: 64px;
  }

  .md\:tw-mb-xxl {
    margin-bottom: 64px;
  }

  .md\:tw-block {
    display: block;
  }

  .md\:tw-flex {
    display: flex;
  }

  .md\:tw-hidden {
    display: none;
  }

  .md\:tw-h-fit {
    height: -moz-fit-content;
    height: fit-content;
  }

  .md\:tw-h-\[80px\] {
    height: 80px;
  }

  .md\:tw-min-h-screen {
    min-height: 100vh;
  }

  .md\:tw-min-h-\[calc\(100vh-140px\)\] {
    min-height: calc(100vh - 140px);
  }

  .md\:tw-min-h-\[calc\(100vh-10px\)\] {
    min-height: calc(100vh - 10px);
  }

  .md\:tw-min-h-\[calc\(100vh-120px\)\] {
    min-height: calc(100vh - 120px);
  }

  .md\:tw-w-1\/2 {
    width: 50%;
  }

  .md\:tw-w-\[200px\] {
    width: 200px;
  }

  .md\:tw-w-\[50vh\] {
    width: 50vh;
  }

  .md\:tw-max-w-lg {
    max-width: 32rem;
  }

  .md\:tw-max-w-\[\] {
    max-width: ;
  }

  .md\:tw-max-w-\[5\] {
    max-width: 5;
  }

  .md\:tw-max-w-\[50\] {
    max-width: 50;
  }

  .md\:tw-max-w-\[500\] {
    max-width: 500;
  }

  .md\:tw-max-w-\[500px\] {
    max-width: 500px;
  }

  .md\:tw-max-w-\[px\] {
    max-width: px;
  }

  .md\:tw-max-w-\[6px\] {
    max-width: 6px;
  }

  .md\:tw-max-w-\[65px\] {
    max-width: 65px;
  }

  .md\:tw-max-w-\[650px\] {
    max-width: 650px;
  }

  .md\:tw-flex-\[0_0_50\%\] {
    flex: 0 0 50%;
  }

  .md\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:tw-items-end {
    align-items: flex-end;
  }

  .md\:tw-justify-center {
    justify-content: center;
  }

  .md\:tw-justify-between {
    justify-content: space-between;
  }

  .md\:tw-gap-3 {
    gap: 0.75rem;
  }

  .md\:tw-gap-md {
    gap: 24px;
  }

  .md\:tw-gap-6 {
    gap: 1.5rem;
  }

  .md\:tw-p-xxl {
    padding: 64px;
  }

  .md\:tw-px-md {
    padding-left: 24px;
    padding-right: 24px;
  }

  .md\:tw-px-lg {
    padding-left: 32px;
    padding-right: 32px;
  }

  .md\:tw-px-xxl {
    padding-left: 64px;
    padding-right: 64px;
  }

  .md\:tw-px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:tw-pl-md {
    padding-left: 24px;
  }

  .md\:tw-pr-md {
    padding-right: 24px;
  }

  .md\:tw-pr-0 {
    padding-right: 0px;
  }

  .md\:tw-pl-xxl {
    padding-left: 64px;
  }

  .md\:tw-pb-lg {
    padding-bottom: 32px;
  }

  .md\:tw-pt-\[140px\] {
    padding-top: 140px;
  }

  .md\:tw-pt-\[120px\] {
    padding-top: 120px;
  }

  .md\:tw-text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:tw-transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .md\:tw-duration-300 {
    transition-duration: 300ms;
  }

  .md\:tw-duration-150 {
    transition-duration: 150ms;
  }

  .md\:hover\:tw-underline:hover {
    text-decoration-line: underline;
  }
}

@media (min-width: 992px) {
  .lg\:tw-flex-\[0_0_calc\(100\%\/3\)\] {
    flex: 0 0 calc(100% / 3);
  }

  .lg\:tw-flex-\[0_0_calc\(100\%\/\)\] {
    flex: 0 0 calc(100% / );
  }

  .lg\:tw-flex-\[0_0_calc\(100\%\/4\)\] {
    flex: 0 0 calc(100% / 4);
  }

  .lg\:\!tw-flex-\[0_0_315px\] {
    flex: 0 0 315px !important;
  }

  .lg\:\!tw-flex-\[0_0_px\] {
    flex: 0 0 px !important;
  }

  .lg\:\!tw-flex-\[0_0_5px\] {
    flex: 0 0 5px !important;
  }

  .lg\:\!tw-flex-\[0_0_50px\] {
    flex: 0 0 50px !important;
  }

  .lg\:\!tw-flex-\[0_0_500px\] {
    flex: 0 0 500px !important;
  }

  .lg\:tw-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  .xl\:tw-justify-center {
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .xlg\:tw-flex {
    display: flex;
  }

  .xlg\:tw-justify-center {
    justify-content: center;
  }
}