@font-face {
  font-family: Atlas;
  src: url(Atlas.woff);
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Snell Roundhand";
  src: url(Snell-Roundhand.otf);
  font-weight: 400;
  font-style: normal
}


@font-face {
  font-family: "Tangerine";
  src: url(Tangerine-Regular.ttf);
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Tangerine-Bold";
  src: url(Tangerine-Bold.ttf);
  font-weight: 700;
  font-style: normal
}

:root {
  --gutter: 4px;
  --global-font: 'Atlas', 'Helvetica', sans-serif;

  /* Primary Palette */
  --color-primary-black: #211e19;
  --color-primary-white: #ffffff;
  --color-primary-off-white: #fafafa;
  --color-primary-grey-mid: #dbdbd8;

  /* Secondary Palette */
  --color-secondary-blue: #007cbc;
  --color-secondary-pink: #d43976;
  --color-secondary-orange: #d24700;
  --color-secondary-green: #008933;
  --color-secondary-purple: #754193;
  --color-secondary-navy: #2a3572;
  --color-secondary-grey: #757778;
  --color-secondary-slate: #3e3f3f;
  --color-secondary-plum: #6e2b62;
}

* {
  cursor: none;
}


html {
  overflow-x: hidden;
  overflow-y: auto;
  width: calc(100vw + var(--scrollbar-width, 0px));
}

html::-webkit-scrollbar {
  width: auto;
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}


body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--global-font);
  font-size: 62.5%;
  scrollbar-gutter: stable both-edges;
}

.custom-cursor {
  position: fixed;
  pointer-events: none;
  width: 40px;
  height: 40px;
  transition: transform 350ms ease;
  transform: translate(-50%, -50%);
  background-image: url("Water-Drop-Logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  z-index: 1000;
  mix-blend-mode: difference;
  filter: invert(1);
}


.visually-hidden,
.hidden {
  display: none;
}

a,
li,
p {
  font-family: var(--global-font);
  font-size: 1.6rem;
}


.tw-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 640px) {
  .tw-container {
    max-width: 640px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .tw-container {
    max-width: 768px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1024px) {
  .tw-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .tw-container {
    max-width: 1280px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1536px) {
  .tw-container {
    max-width: 1536px;
    padding-right: 0;
    padding-left: 0;
  }
}