@font-face {
  font-family: Atlas;
  src: url(Atlas.woff);
  font-weight: 400;
  font-style: normal
}

:root {
  --gutter: 4px;
  --global-font: 'Atlas', 'Helvetica', sans-serif;

  /* Primary Palette */
  --color-primary-black: #211e19;
  --color-primary-white: #ffffff;
  --color-primary-off-white: #fafafa;
  --color-primary-grey-mid: #dbdbd8;

  /* Secondary Palette */
  --color-secondary-blue: #007cbc;
  --color-secondary-pink: #d43976;
  --color-secondary-orange: #d24700;
  --color-secondary-green: #008933;
  --color-secondary-purple: #754193;
  --color-secondary-navy: #2a3572;
  --color-secondary-grey: #757778;
  --color-secondary-slate: #3e3f3f;
  --color-secondary-plum: #6e2b62;
}


html {
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--global-font);
  font-size: 62.5%;
}

.visually-hidden,
.hidden {
  display: none;
}

a,
li,
p {
  font-family: var(--global-font);
  font-size: 1.6rem;
}


.tw-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (min-width: 640px) {
  .tw-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .tw-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .tw-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .tw-container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .tw-container {
    max-width: 1536px;
  }
}